# Node modules
node_modules/

# Logs
*.log

# Environment variables
.env
.env.local
.env.*.local

# Build folders
dist/
build/

# Vite cache
.vite/

# OS files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# Misc
*.tmp
*.cache